body,html{
  background-color: #122937;
  color: #fff;
}

.container-shape{
  background-color:#282C34;
  padding: 1em;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px; 
  box-shadow: 1px 1px 10px #fff;
}

.main-title{
  font-weight: normal; 
  padding-bottom:.3em; 
  margin-bottom:.8em; 
  border-bottom:1px dotted #eee;
}

.dash-panel {
  border: 0px solid #fff;
  margin-bottom: 1em;
  padding: 1.5em 0;
  border-radius: 5px;
}

.dash-panel-temperature{
  background: url("thermometer.png") no-repeat left 90%;
}

.dash-panel-humidity{
  background: url("humidity.png") no-repeat left 90%;
}

.dash-panel h5{
  font-weight: 100;
  color: #fff;
}

.dash-panel-green{
  background-color: #5BC592;
}

.dash-panel-red{
  background-color: #D6535D;
}

.dash-panel-purple{
  background-color: #9B8AF7;
}

.dash-panel-yellow{
  background-color: #FFAE42;
}

/* 
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
